.avaliacoes-container {
    background-color: var(--t1);
    border: 2px solid var(--p3);
    box-shadow: 0 0 20px var(--t3);
    padding: 40px;
    border-radius: 15px;
    max-width: 900px;
    width: 100%;
    font-family: 'Mr Darcy W01 Regular', Arial, sans-serif;
    color: var(--p2);
    text-align: center;
    height: 1400px;
    margin: 0 auto;
}

.avaliacao {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--t4);
}

.avaliacao:last-child {
    border-bottom: none;
}

.avaliacao h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--p3);
}

.avaliacao p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 700px;
}

.avaliacao-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    text-align: left;
}

.perfil-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--p3);
}

.avaliacao-actions {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    justify-content: flex-start;
}

.avaliacao-actions button {
    background-color: transparent;
    border: none;
    color: var(--p3);
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.avaliacao-actions button span {
    font-size: 14px;
    color: var(--p2);
}

.avaliacao-actions button:hover {
    transform: scale(1.1);
    color: var(--p2);
}

.comentario-container {
    margin-top: 30px;
    text-align: left;
}

.comentario-container h3 {
    color: var(--p3);
    font-size: 22px;
    margin-bottom: 10px;
}

.comentario-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid var(--p3);
    background-color: var(--t2);
    color: var(--p2);
    font-size: 16px;
    resize: none;
    font-family: Arial, sans-serif;
}

.comentario-container textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.enviar-comentario {
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid var(--p3);
    color: var(--p3);
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.enviar-comentario:hover {
    background-color: var(--p3);
    color: var(--p2);
}