.mapa { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-right: 0;
}

.mapa img {
    width: 87.5rem;
    max-width: 90vw;
    height: auto;
    box-shadow: 0 0 15px var(--t4);
    border-radius: 10px;
}

.local {
    color: var(--p3);
    text-shadow: var(--p3) 0px 0px 10px;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Mr Darcy W01 Regular';
    width: 60%;
    margin: 2.5rem auto 0;
    padding: 3.125rem 1.875rem;
    background: var(--t1);
    border-radius: 15px;
    border: 2px solid var(--p3);
    box-shadow: 0 0 20px var(--t3);
    line-height: 1.5;
}

@media (max-width: 1024px) {

    .mapa img {
        width: 100%;
        max-width: 900px;
    }

    .local {
        width: 80%;
        font-size: 1.75rem;
        margin-top: 1.875rem;
        padding: 2.5rem 1.5625rem;
    }
}

@media (max-width: 768px) {

    .mapa img {
        width: 95%;
        max-width: 600px;
    }

    .local {
        width: 90%;
        font-size: 1.375rem;
        padding: 1.875rem 1.25rem;
        margin-top: 1.5625rem;
    }
}

@media (max-width: 480px) {

    .mapa img {
        width: 100%;
        max-width: 420px;
    }

    .local {
        width: 90%;
        font-size: 0.85rem;
        padding: 1.5625rem 1.125rem;
    }
}