.logo2 {
    text-align: center;
    margin-top: 40px;
}

.logo2 img {
    width: 750px;
    height: auto;
}

.welcome h1 {
    color: var(--p2);
    text-align: center;
    font-size: 80px;
    margin: 90px auto 0;
    font-family: 'Mr Darcy W01 Regular';
    width: 40%;
    text-shadow: var(--p3) 2px 2px 4px,
                 var(--p3) -2px -2px 4px,
                 var(--p3) 2px -2px 4px,
                 var(--p3) -2px 2px 4px;
    max-width: 1200px;
    padding: 50px 30px;
    background: var(--t1);
    border-radius: 15px;
    border: 2px solid var(--p3);
    box-shadow: 0 0 20px var(--t3);
    font-size: 50px;
    line-height: 1.5;
}

.alastor1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    color: var(--p2);
    text-align: left;
    font-size: 40px;
    font-family: 'Mr Darcy W01 Regular';
    text-shadow: var(--p3) 2px 2px 4px,
                 var(--p3) -2px -2px 4px,
                 var(--p3) 2px -2px 4px,
                 var(--p3) -2px 2px 4px;
    margin-top: -100px;
}

.alastor1 img {
    max-width: 400px;
    height: auto;
    flex-shrink: 0;
}

.alastor1 h2 {
    max-width: 1200px;
    margin: 0;
    padding: 50px 50px;
    background: var(--t1);
    border-radius: 15px;
    border: 2px solid var(--p3);
    box-shadow: 0 0 20px var(--t3);
    font-size: 50px;
    line-height: 1.5;
    transition: transform 0.3s ease;
    margin-top: 50px;
}