:root {
    --p1: rgb(51, 24, 24);
    --p2: white;
    --p3: rgb(240, 32, 118);
    --p4: black;
    --p5: rgb(255, 0, 0);
    --p6: rgb(255, 180, 180);

    --t1: rgba(0, 0, 0, 0.75);
    --t2: rgba(255, 255, 255, 0.05);
    --t3: rgba(240, 32, 118, 0.6);
    --t4: rgba(240, 32, 118, 0.4);
    --t5: rgba(240, 32, 119, 0.199);
}