:root {
  --p1: rgb(10, 20, 40);
  --p2: white;
  --p3: rgb(0, 120, 255);
  --p4: black;
  --p5: rgb(0, 170, 255);
  --p6: rgb(180, 230, 255);
  
  --t1: rgba(6, 9, 20, 0.75);
  --t2: rgba(255, 255, 255, 0.04);
  --t3: rgba(0, 120, 255, 0.5);
  --t4: rgba(0, 120, 255, 0.3);
  --t5: rgba(0, 120, 255, 0.15);
}