:root {
  --p1: rgb(60, 20, 40);
  --p2: white;
  --p3: rgb(255, 100, 200);
  --p4: black;
  --p5: rgb(255, 140, 220);
  --p6: rgb(255, 200, 230);
  
  --t1: rgba(30, 10, 20, 0.75);
  --t2: rgba(255, 255, 255, 0.03);
  --t3: rgba(255, 100, 200, 0.5);
  --t4: rgba(255, 100, 200, 0.3);
  --t5: rgba(255, 100, 200, 0.15);
}