:root {
  --p1: black;
  --p2: white;
  --p3: gray;
  --p4: black;
  --p5: black;
  --p6: white;
  
  --t1: rgba(0, 0, 0, 0.85);
  --t2: rgba(255, 255, 255, 0.02);
  --t3: rgba(128, 128, 128, 0.5);
  --t4: rgba(128, 128, 128, 0.25);
  --t5: rgba(128, 128, 128, 0.12);
}